body.livestreamActive div.content > div.weeks > div.livestream > a.livestream-link[href="/livestream"] {

  & > *::after {
    content: "Live Now";
    font-size: 20px;
    display: block;
    margin-top: 1em;
    font-variant: small-caps;
    border: 1px solid #e00;
    padding: .2em;
    border-radius: .2em;
    color: #e00;
    font-family: "Whitney SSm A", "Whitney SSm B", "Open Sans", open-sans, sans-serif;
    font-weight: 700;
  }

  & > *::before {
    color:#c00;
    animation: pulses 1.5s linear infinite;
  }
}

body:not(.livestreamActive) .livestreamActive-only {
  display:none !important;
}

// text stroke for the text overlaid on the homepage header image.
@headShadowColor: rgba(0,0,0,.5);
.head > .details > h1,
.head > .details > h2,
.head > .details > h3 {
  text-shadow: @headShadowColor 1px 1px 0, @headShadowColor 0 1px 0, @headShadowColor -1px 1px 0, @headShadowColor -1px 0 0, @headShadowColor 1px 0 0, @headShadowColor -1px -1px 0, @headShadowColor 0 -1px 0, @headShadowColor 1px -1px 0;
}

body div.content > div.weeks > div.livestream > a.livestream-link[href="/livestream"] {
  &:hover > *::before {
    font-size: 105%;
    line-height:100%;
  }
  & > *::before {
    transition: line-height 0.1s, font-size 0.1s;
    line-height: 105%;
  }
}

@keyframes pulses {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1.0;
  }
}

/* Fixes issues with blog post listings. */
.resource-listing .resource-meta {
  width: auto;
}

/* Deals with issues from header:after background images forcing a horizontal scroll. */
body {
  overflow-x: hidden;
}

div.warning {
  padding: 1em;
  border: 2px solid yellow;
  background-color: #ff03;
  margin: 1em auto;
  font-weight:bolder;
  /* max-width: 570px; */
}